# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


SimplePacker/.vs/
SimplePacker/data/
SimplePacker/Debug/
SimplePacker/filelist.txt
SimplePacker/output

*.exe.recipe
SimplePacker/Release/SimplePacker.tlog

*.iobj
*.ipdb
*.log
*.obj
*.pdb
SimplePacker/Release/SimplePacker.vcxproj.FileListAbsolute.txt
